<a href="https://colab.research.google.com/github/pro2025/PROJECTS/blob/main/First_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="Tara Nikhita"
age=21
print(name)
print(age)

Tara Nikhita
21

In [ ]:
name="Tony Stark"
age=51
print(name)
print(age)

Tony Stark
51

In [ ]:
name= input("What is your name?")
print(name)

What is your name?sanjay dixit
sanjay dixit

In [ ]:
nickname= input("What is your nick Name:")
print(nickname)

What is your nick Name:Tomy
Tomy

In [ ]:
old_age = input("Enter your old age : ")
new_age = int(old_age)+2
print(new_age)

Enter your old age : 20
22

In [ ]:
print(float(18))
print(int(19.23))
print(bool(12))

18.0
19
True

In [ ]:

first = input("Enter number 1:")
second = input("Enter number 2:")
third = int(first) + int(second)
print("Sum of Numbers: " + str(third))

Enter number 1:10
Enter number 2:20
Sum of Numbers: 30

In [ ]:
name = input("Name = ")
print(name)
print(name.upper())
print(name.lower())
print(name.find('i'))
print(name.replace("i","a"))
print("in" in name)

Name = indumati
indumati
INDUMATI
indumati
0
andumata
True

In [ ]:
# operations on numbers
# taking input
print(5/2)
print(5//2)
print(5%2)
print(5**2)
result= 2+3*5
print(result)
print(3<=2)
print(3==2)
print(3!=2)
print(3!=3)

2.5
2
1
25
17
False
False
True
False

In [ ]:
print(2>3 or 2>1)
print(2>3 and 2>1)
print(not 2>3)

True
False
True

In [ ]:
age = input("Age= ")
if int(age)>=18:
    print("you are an adult")
    print("you can vote")
elif int(age)<18 and int(age)>3:
    print("you are in school")
else:
    print("you are a child")
print("Thank You")

Age= 2
you are a child
Thank You

In [ ]:
# To build Calculator
a = input("Number 1: ")
b = input("Number 2: ")
a = int(first)
b = int(second)
print("Enter + to add ,Enter - to substract, Enter * to multiply,Enter / to division, Enter % to find remainder")
c = input("Choice: ")
if c == "+":
    print(a + b)
elif c == "-":
    print(a - b)
elif c == "/":
    print(a / b)
elif c == "%":
    print(a % b)
elif c == "*":
    print(a * b)

Number 1: 5
Number 2: 7
Enter + to add ,Enter - to substract, Enter * to multiply,Enter / to division, Enter % to find remainder
Choice: *
200